* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Segoe UI";
  height: 100%;
  background-color: #121212; /*Dark Grey From Theme*/
}

.hl {
  color: #2cff8e;
}

.smallSubHeaderHighlight {
  color: #252525;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #2cff8e;
  transform-origin: 0%;
}

pre code {
  font-size: 1.25em;
  border-radius: 10px;
  border: 2px solid #252525;
}
